
body{
    font-family: 'Work Sans', sans-serif;
}
.container{
    width: 1200px !important;
    margin: auto !important;
}
.clear::after{
    content: "";
    display: block;
    clear: both;
}
main {
    background: url(https://i.ibb.co/h14Lr54/ia-200000019.jpg) no-repeat center center;
    padding: 160px 0px;
    background-size: cover;
    position: relative;
    z-index: 10;
}
main::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}
header {
    width: 100%;
    height: 77px;
    background-color: #000000d4;
    position: relative;
    bottom: 160px;
}
.logo{
    float: left;
    width: 30%;
    margin-top: 4px;
}
.logo img{
    width: 100%;
}
nav{
    float: right;
    width: 65%;
}
nav ul{
    display: inline-block;
}
nav ul li{
    display: inline-block;
    list-style: none;
    position: relative;
}
nav ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 15px 19px;
    color: #fff;
    font-size: 20px;
}
nav ul li a::after{
    content: "";
    height: 2px;
    background-color: rgb(255, 255, 255);
    width: 0%;
    display: block;
    transition: .7s;
    position: absolute;
    top: 100%;
    left: 13px;
}
nav ul li a:hover::after{
    width: 79%;
}
nav ul li ul {
    width: 300px;
    position: absolute;
    top: 105%;
    left: -69px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    transform: scaleY(0);
    transform-origin: top center;
}
nav ul li ul li{
    list-style: none;
    display: block;
}
nav ul li ul li a{
    display: block;
    padding: 15px 10px;
    background-color: rgb(255, 255, 255);
    transition: all .3s;
    color: #000;
    text-align: center;
    
}
nav ul li ul li a:hover{
    background-color:#acacac;
}
nav ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);

}

/* >>>>>>>>>>>>>>>>>>banner>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.banner_text h1 {
    font-size: 95px;
    font-weight: 700;
    color: #fff;
    line-height: 40px;
}
.banner_text{
    text-align: center;
}
.banner_text h3 {
    font-size: 47px;
    color: #fff;
    line-height: 10px;
    font-weight: 600;
}
.banner_text a {
    text-decoration: none;
    background: #c69453;
    font-size: 25px;
    border-radius: 30px;
    padding: 10px 15px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border: 2px solid transparent;
    line-height: 45px;
    transition: all .4s;
    border: 2px solid #c69453;
}
.banner_text a:hover{
    background-color: rgb(255, 255, 255);
    color: #c69453;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>BUILDER_SECTION>>>>>>>>>>>>>>>>>>>>>>>>> */
.builders {
        padding: 100px 0px 180px 0px;
}
.box {
    width: 22%;
    display: inline-block;
    text-align: center;
    margin: 15px;
    box-shadow: 1px 1px 40px 11px #dad8d7;
    transition: all .3s;
    padding: 20px 0px;
    transform: rotateX(0deg)
}
.box a{
    padding: 10px 15px;
    font-size: 16px;
    background-color: peru;
    font-weight: 600;
    color: #fff;
    line-height: 30px;
    transition: .3s;
    border-radius: 10px;
    text-decoration: none;
}
.box img{
    transform: rotateY(0deg) !important;
    transition: .7s;
    overflow: hidden;
}
.box:hover img{
    transform: rotateY(360deg) !important;

}
.box a:hover{
    background-color: rgb(0, 0, 0) !important;
    color: #fff !important;
}
.box:hover{
    background-color: #dad8d7;
}
.box:hover a{
    background-color: rgb(255, 255, 255);
    color: peru;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>video_section>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.video_section {
    clear: both;
    padding: 0px 0px 150px 0px;
    display: inline-block;
    width: 100%;
    margin: auto;
}
.video {
    width: 35%;
    /* display: inline-block; */
    float: left;
    margin-left: 28px;
}
.video_text {
    /* display: inline-block; */
    width: 52%;
    float: right;
    margin-top: -27px;
}
.video_text span {
    color: #ad8047;
}
.video_text a {
    background: #000;
    padding: 10px 15px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin-top: 5px;
    transition: .3s;
}
.video_text a:hover{
    background-color: #ad8047;
}
summary {
    font-weight: 600;
    cursor: pointer;
}

/* >>>>>>>>>>>>>>>>>>>>>Quit>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* .quick_img{
    float: right;
    width: 40%;
}
.quick_img img{
    max-width: 100%;
} */
.quick {
    background: url(https://i.ibb.co/J5V02GZ/ia-200000022.jpg) no-repeat center right;
    background-size: cover;
    padding: 160px 0px;
}
.form{ 
    width: 50%;
    float: left;
}
.form h1{
    font-size: 40px;
}
.form p{
    font-size: 19px;
}
textarea {
    border: none;
    padding: 10px;
    box-shadow: 0px 0px 5px 1px #dad8d7;
}
input {
    width: 100%;
    padding: 10px;
    margin: 5px;
    border: none;
    box-shadow: 0px 0px 5px 1px #dad8d7;
}
input[type="submit"] {
    width: 122px;
    padding: 15px 15px !important;
    background: #c69453;
    color: #fff;
    /* outline: none; */
    border: none;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>footer>>>>>>>>>>>>>>>> */
footer {
    background-color: #6d6d6d;
    padding: 8px 0px;
}
footer p {
    font-size: 22px;
    font-weight: 400;
    display: inline-block;
    margin: 0px 34px;
    color: #fff;
}
footer ul {
    display: inline-block;
    margin-left: 160px;
}
footer ul li{
    display: inline-block;
}
footer ul li a{
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    font-size: 20px;
}